# Golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
.DS_Store

# Custom
scripts/
systemd/
jb
jamhubdata/
jamhub.db
jamhub-build*
.jamhub
.jam
jamhub-build.zip
.vscode
gen/
x509/

**node_modules/
//node_modules/
*.bundle.js

**opdata/
**oplocs/
