{{template "head.html" args
"title" "Abuse"
"canonical" "abuse"
"description" "Abuse Policy for JamHub. It is not okay to use JamHub products for restricted purposes."
}}

<body>
    {{template "header.html" args "email" .Email}}
    <main>
        <section class="Abuse">
            <h1>JamHub Restricted Use Policy</h1>
            <p>This document has been changed and adapted to JamHub from the open-source Basecamp policy which can be found <a
                    href="https://github.com/basecamp/policies">here</a>.</p>
            <h1 id="use-restrictions">Use Restrictions</h1>
            <p><em>Last updated: April 9, 2023</em></p>
            <p>
                We are proud to give people a better way to build better software, faster; however, we also recognize that JamHub can be
                used by others to do harm. This is not our intention, and we feel an ethical obligation to counter such harm.
                If you use any of our products, you can't use them for any of the restricted purposes below. If you do, we will
                take action using any means necessary -- usually by terminating your account or banning your IP. 
            </p>
            <h2 id="restricted-purposes">Restricted purposes</h2>
            <ul>
                <li><strong>Violence, or threats thereof</strong>: If an activity qualifies as violent crime in the
                    United States or where you live, you may not use JamHub products to plan, perpetrate, or threaten
                    that activity.</li>
                <li><strong>Child exploitation, sexualization, or abuse</strong>: We don't tolerate any activities that
                    create, disseminate, or otherwise cause child abuse.</li>
                <li><strong>Hate speech</strong>: You cannot use our products to advocate for the extermination,
                    domination, or oppression of people.</li>
                <li><strong>Harassment</strong>: Intimidating or targeting people or groups through repeated
                    communication, including using racial slurs or dehumanizing language, is not welcome at JamHub.
                </li>
                <li><strong>Doxing</strong>: If you are using JamHub products to share other peoples' private personal
                    information for the purposes of harassment, we don't want anything to do with you.</li>
                <li><strong>Malware or spyware</strong>: Code for good, not evil. If you are using our products to make
                    or distribute anything that qualifies as malware or spyware — including remote user surveillance —
                    begone.</li>
                <li><strong>Phishing or otherwise attempting fraud</strong>: It is not okay to lie about who you are or
                    who you affiliate with to steal from, extort, or otherwise harm others.</li>
                <li><strong>Spamming</strong>: No one wants unsolicited commercial emails. We don't tolerate folks
                    (including their bots) using JamHub products for spamming purposes. 
                <li><strong>Cybersquatting</strong>: We don't like username extortionists. If you purchase a JamHub
                    product account in someone else's name and then try to sell that account to them, you are <a
                        href="https://www.law.cornell.edu/uscode/text/15/1125">cybersquatting</a>. Cybersquatting
                    accounts are subject to immediate cancellation.</li>
                <li><strong>Infringing on intellectual property</strong>: You can't use JamHub products to make or
                    disseminate work that uses the intellectual property of others beyond the bounds of <a
                        href="https://www.copyright.gov/fair-use/more-info.html">fair use</a>.</li>
            </ul>
            <p>While our use restrictions are comprehensive, they can't be exhaustive — it's possible an offense could
                defy categorization, present for the first time, or illuminate a moral quandary we hadn't yet
                considered. That said, we hope the overarching spirit is clear: JamHub is not to be harnessed for
                harm, whether mental, physical, personal or civic. Different points of view — philosophical, religious,
                and political — are welcome, but ideologies like white nationalism, or hate-fueled movements anchored by
                oppression, violence, abuse, extermination, or domination of one group over another, will not be
                accepted here.</p>
            <h2 id="how-to-report-abuse">How to report abuse</h2>
            <p>For any case violating this policy or any other reports, please email us at <a href="mailto:zach@jamhub.dev">zach@jamhub.dev</a></p>
            <p>Please share as much as you are comfortable with about the account, the content or behavior you are
                reporting, and how you found it. Sending us a URL or screenshots is super helpful. If you need a secure
                file transfer, let us know and we will send you a link. We will not disclose your identity to anyone
                associated with the reported account. 
            <p><em>*This policy and process applies to any product created and owned by JamHub or Zach Geier.*</em></p>
        </section>
    </main>
    {{template "footer.html"}}
</body>
{{template "foot.html"}}