{{template "head.html" args 
    "title" "Download" 
    "canonical" "download" 
    "description" "You can try a preview version Jamhub out for yourself using the client binaries on this page."
}}
<body>
    {{template "header.html" args "email" .Email}}
    <main>
        <section class="Download">
            <h1>Download</h1>
            <p>You can try a preview version Jamhub out for yourself using the client binaries below.</p>
            <p>Note that Jamhub is under development so make sure to back up your files.</p>
            <h2>CLI Binaries</h2>
            <ul>
                <li><a class="Download-link" href="/public/jam_darwin_arm64.zip">darwin/arm64</a></li>
                <li><a class="Download-link" href="/public/jam_darwin_amd64.zip">darwin/amd64</a></li>
                <li><a class="Download-link" href="/public/jam_linux_arm64.zip">linux/arm64</a></li>
                <li><a class="Download-link" href="/public/jam_linux_amd64.zip">linux/amd64</a></li>
                <li><a class="Download-link" href="/public/jam_windows_arm64.zip">windows/arm64</a></li>
                <li><a class="Download-link" href="/public/jam_windows_amd64.zip">windows/amd64</a></li>
            </ul>
            <h2>UI</h2>
            <ul>
                <li><a class="Download-link" href="/public/Jamhub-arm64.zip">darwin/arm64</a></li>
                <li><a class="Download-link" href="/public/Jamhub-amd64.zip">darwin/amd64</a></li>
                <li><a class="Download-link" href="/public/Jamhub-arm64-windows.zip">windows/arm64</a></li>
                <li><a class="Download-link" href="/public/Jamhub-amd64-windows.zip">windows/amd64</a></li>
            </ul>
            <h2>Installation and Usage</h2>
            <p>
                The Jamhub client is a single, small (~15MB) binary. To install, just download the client above and put it somewhere on your PATH.
            </p>
            <p>
                See the help text for the `jam` binary for up-to-date descriptions of the commands.
            </p>
            <p>
                Contact <a href="mailto:zach@jamhub.dev">zach@jamhub.dev</a> or reach out on <a href="https://discord.gg/6bK3GPKhpa">Discord</a> if you need any assistance!
            </p>
        </section>
    </main>
    {{template "footer.html"}}
</body>
{{template "foot.html"}}