{{define "header.html"}}
<header class="Header">
    <div class="Header-top">
        <div class="Header-topLeft">
            <a class="Header-homeLink" href="/">
                <span class="Header-homeText">JamHub</span>
            </a>
        </div>
        {{if $.email}}
        <a class="Header-login" href="/logout">Logout</a>
        {{else}}
        <a class="Header-login" href="/login">Login</a>
        {{end}}
    </div>
    <div class="Header-bottom">
        <div class="Header-bottomLeft">
            <a class="Header-bottomLink" href="/">Home</a>
            {{if $.email}}
            <a class="Header-bottomLink" href="/download">Download</a>
            {{end}}
            <a id="js-project-info" class="Header-bottomLink is-hidden" href="">Project Info</a>
        </div>
        {{if $.email}}
        <div class="Header-bottomRight">
            <a class="Header-bottomLink" href="/{{.email}}/projects">{{$.email}}</a>
        </div>
        {{end}}
    </div>
    <script>
        const loc = window.location.href;
        if (loc.includes("committedfiles") || loc.includes("committedfile") || loc.includes("workspacefile") || loc.includes("workspacefiles")) {
            let splitPath = window.location.pathname.split("/");
            let projectUrl =  splitPath.slice(0, 3).join('/') + "/projectinfo";
            document.getElementById("js-project-info").setAttribute("href", projectUrl)
            document.getElementById("js-project-info").classList.remove("is-hidden")
        }
    </script>
</header>
{{end}}