{{template "head.html" args
    "title" "Projects" 
    "canonical" "{{.Email}}/projects" 
    "description" "View and manage your Jamsync projects."
}}
<body>
    {{template "header.html" args "email" .Email}}
    <main>
        <section class="Projects">
            <div class="Projects-top">
                <h2>Your Projects</h2>
            </div>
            <div class="is-hidden" id="js-no-projects">No projects here, <a href="/download">download the CLI</a> to get started!</div>
            <ul class="Projects-list is-hidden" id="projects"></ul>
        </section>
    </main>
    <script>
        let splitPath = window.location.pathname.split("/");
        let projectUrl =  splitPath.slice(0, 2).join('/');

        async function populateProjectListEl() {
            let projectsResp = await fetch("/api/userprojects");
            let projectsJson = await projectsResp.json();

            if (Object.keys(projectsJson).length === 0) {
                let projectsEmptyEl = document.getElementById("js-no-projects");
                projectsEmptyEl.classList.remove("is-hidden");
                return
            }
            let frag = document.createDocumentFragment();
            for (let project of projectsJson.projects) {
                let temp = document.createElement("li");
                let projectLink = document.createElement("a");
                projectLink.href = projectUrl + `/${project.name}/files/main`;
                projectLink.innerHTML = project.name;
                temp.appendChild(projectLink);
                frag.appendChild(temp);
            }
            let projectsEl = document.getElementById("projects");
            projectsEl.innerHTML = "";
            projectsEl.appendChild(frag);
            projectsEl.classList.remove("is-hidden");
        }

        window.addEventListener('pageshow', (event) => {
            populateProjectListEl();
        });
        populateProjectListEl();
    </script>
    {{template "footer.html"}}
</body>
{{template "foot.html"}}